:root {
  --FONT-SIZE: 1.5rem;
  --BORDER-RADIUS: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;




  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: papayawhip;
    color: black;
    font-family: sans-serif;
    font-size: var(--FONT-SIZE);
    width: 100%;
    min-height: 100vh;

  }
}


nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

}

nav a {
  margin-top: 0.4rem;
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;

  border-radius: 0.2rem;
  border: solid 1px rgb(22, 22, 22);
  text-align: center;
  text-decoration: none;
  color: #1b1b1b;
}


.container {

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 500px;
  margin: 1.5rem 1.5rem;

}

.block-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.block-2 {

  width: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

img {
  width: 120px;
  border-radius: 50%;
  padding: 0.6rem;
  margin: 0.5rem;
}

.link-tree {

  width: 100%;

}

.link-tree>li {
  border-radius: var(--BORDER-RADIUS);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin: 1.5rem;
  background: papayawhip;
  padding: 1rem;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
  max-height: 70px;
  color: inherit;

}



.link-tree>li:hover,
.link-tree>li:focus {
  color: peachpuff;
  background: indigo;
}


a,
a:visited {

  text-decoration: none;
  color: inherit;

}

[class ^="box-"] {

  box-shadow: 0.3rem 0.1rem 0rem #00000010, inset -0.1rem -0.1rem 0.5rem #00000090;
}
